@import './varibles.scss';
@import './mixin.scss';
@import './transition.scss';

body, html {
  height: 100%;
  color: #383838;
  background: #f5f5f5;
  line-height: .21rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.text-center {
  text-align: center;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  opacity: 0 !important;
}

.mar-left10 {
  margin-left: .1rem;
}

.text-gray {
  color: #8f8f94!important;
}

// 优惠券使用印章
.status-badge {
  position: absolute;
  bottom: 0.15rem;
  right: 0.2rem;
  width: .6rem;
  height: .6rem;
  border: 0.02rem solid #FF5F3D;
  border-radius: .6rem;
  text-align: center;
  background-color: rgba(255, 255, 255, .6);
  color: #FF5F3D;
  opacity: .4;
  -ms-transform: rotate(-15deg);
  /* Internet Explorer */
  -moz-transform: rotate(-15deg);
  /* Firefox */
  -webkit-transform: rotate(-15deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-15deg);
  /* Opera */
  transform: rotate(-15deg);
}

.status-badge span {
  display: block;
  width: .52rem;
  height: .52rem;
  border: 0.01rem solid #ff5f3d;
  border-radius: .52rem;
  margin: 0.02rem;
  line-height: .58rem;
  font-size: .14rem;
}

.status-badge i {
  position: absolute;
  font-size: 0.12rem;
}

.status-badge i.star-left {
  top: 0.08rem;
  left: 0.1rem;
}

.status-badge i.star-center {
  top: 0.02rem;
  left: .22rem;
}

.status-badge i.star-right {
  top: 0.08rem;
  right: 0.1rem;
}

.status-badge:before {
  content: "";
  position: absolute;
  top: 0.42rem;
  left: 0.14rem;
  width: .3rem;
  height: 0.01rem;
  background-color: #FF5F3D;
}

.status-badge:after {
  content: "";
  position: absolute;
  bottom: 0.09rem;
  left: 0.2rem;
  width: .2rem;
  height: 0.01rem;
  background-color: #FF5F3D;
}